# Nearest Earth Objects

Notebook to derive tables and demonstrate figures on Nearest Earth Objects based on dataset from NASA.

Notebook Author: Soumyajit Kolay

In [2]:
# Setup Code
#(Prepare the environment by importing and initialize libraries)

import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Completed!")

Setup Completed!

In [3]:
# Import the Datasets

# Path of the file to read
csv_filepath = "../input/nasa-nearest-earth-objects/neo_v2.csv"

# Read the file into a variable nasa_data
nasa_data = pd.read_csv(csv_filepath, index_col="id")
print("Import Successful!")

Import Successful!

In [4]:
# Print the first and last 5 rows of the dataset

nasa_data.head()

,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
id,,,,,,,,,
2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True

In [9]:
# List all Objects and their Relative Velocities

nasa_data.loc[:, ['name', 'relative_velocity']]

                         name  relative_velocity
id
2162635   162635 (2000 SS164)       13569.249224
2277475     277475 (2005 WK4)       73588.726663
2512244    512244 (2015 YE18)      114258.692129
3596030           (2012 BV13)       24764.303138
3667127           (2014 GE35)       42737.733765
...                       ...                ...
3763337            (2016 VX1)       52078.886692
3837603            (2019 AD3)       46114.605073
54017201           (2020 JP3)        7566.807732
54115824           (2021 CN5)       69199.154484
54205447           (2021 TW7)       27024.455553

[90836 rows x 2 columns]

In [12]:
# List all Hazardous Objects

list_hazard = nasa_data.loc[nasa_data.hazardous == True]
list_hazard

,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
id,,,,,,,,,
2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True
54049873,(2020 OT6),0.252671,0.564989,58430.697200,3.833750e+07,Earth,False,20.11,True
2506491,506491 (2003 UW29),0.201630,0.450858,115899.180498,1.510102e+07,Earth,False,20.60,True
3781344,(2017 RV),0.110804,0.247765,48655.305132,3.279775e+07,Earth,False,21.90,True
...,...,...,...,...,...,...,...,...,...
3776295,(2017 NH),0.133216,0.297879,67595.756852,5.681059e+07,Earth,False,21.50,True
54235530,(2022 AY1),0.104847,0.234444,51149.696785,5.450002e+07,Earth,False,22.02,True
2138404,138404 (2000 HA24),0.356907,0.798068,33008.617883,7.189835e+07,Earth,False,19.36,True
2377732,377732 (2005 XJ8),1.034082,2.312278,53362.798148,4.756627e+07,Earth,False,17.05,True
3836727,(2018 XR),0.508809,1.137732,71465.448580,8.894222e+06,Earth,False,18.59,True

In [ ]:
# To count total number of Hazardous Objects:

In [14]:
# Stats on Relative Objects of the objects

nasa_data.relative_velocity.describe()

count     90836.000000
mean      48066.918918
std       25293.296961
min         203.346433
25%       28619.020645
50%       44190.117890
75%       62923.604633
max      236990.128088
Name: relative_velocity, dtype: float64